* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

/* Colors */
.white {
  color: white;
}

/* Flex */
.d-flex {
  display: flex;
}

/* Fonts */
.bold {
  font-weight: 700;
}

.wrapper {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100vh;
}

header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-content {
  padding: 20px 50px;
  border-radius: 10px;
  background-color: white;
}

h2 {
  font-size: 28px;
  color: #081d86;
}

.table {
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
  width: 400px;
}

.table-header div {
  width: 33%;
  background-color: #07419e;
  color: #fff;
  margin-right: 5px;
  border-radius: 3px;
  padding: 5px 10px;
}

.table-body div {
  width: 33%;
  background-color: #ececec;
  color: #212121;
  margin-right: 5px;
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 5px;
}

/* Converter */
.converter {
  display: flex;
  justify-content: center;
}

.converter-content {
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px;
  width: 500px;
}

.converter input {
  padding: 10px 10px;
  font-family: 'Nunito';
  border-radius: 4px;
  border: none;
  background-color: #ececec;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

.form-item {
  margin-top: 10px;
  display: flex;
}

.error {
  margin-top: 10px;
  color: #ff3a3a;
}
